* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main{
    background-color:#f6f6f6;
}
.header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6
}

.header-container {
    width: 70%;
    height: 130px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.header-container .logo {
    margin-top: 8px;
    margin-left: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-left: 193px;
    width: 70%;
    height: 130px;
}

.head1 {
    margin-left: 15px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;
}

.head2 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head3 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head4 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head5 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head6 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head7 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head8 {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #464646;

}

.head9 {
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: auto;
    height: 130px;
    font-family: "Open Sans", sans-serif;
    color: #393939;
    font-size: 13px;
    color: #464646;

}

.search-input input {
    width: 17vh;
    height: 15px;
    border: none;
    box-shadow: 0px 0px 5px 1px #dddcdc;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 9px;
    color: #464646;

}

.search-input input:hover {
    background-color: white;
}

::-webkit-input-placeholder {
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
}

.search-icon svg {
    fill: #464646;
    stroke-width: px;
    margin-top: 5px;
    margin-left: 3px;
    width: 15px;
    height: auto;
}

.desktop-view-set img {
    width: 100%;

}

.arrow-left svg {
    width: 60px;
    height: auto;
    fill: white;
    fill-opacity: 50%;
    position: absolute;
    bottom: 510px;
    left: 10vh;
}

.arrow-right svg {
    width: 60px;
    height: auto;
    fill: white;
    fill-opacity: 50%;
    position: absolute;
    bottom: 510px;
    left: 160vh;
}

.grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.grid-stacks {
    display: block;
    width: 66%;
    height: auto;
    cursor: pointer;
}

.grid-stack1 {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.grid-stack1 .grid1 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack1 .grid1-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.grid-stack1 .grid1-text p {
    width: 17vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 63px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack1 .grid1:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack1 .grid1:hover .grid1-text h3 {
    color: #f6f6f6;
}

.grid-stack1 .grid1:hover .grid1-text p {
    color: #f6f6f6;
}

.grid-stack1 .grid2 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack1 .grid2 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack1 .grid2 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack1 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack1 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack1 .grid3 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack1 .grid3-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 24%;
    font-family: "Open Sans", sans-serif;
}

.grid-stack1 .grid3-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 63px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack1 .grid3:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack1 .grid3:hover .grid3-text h3 {
    color: #f6f6f6;
}

.grid-stack1 .grid3:hover .grid3-text p {
    color: #f6f6f6;
}

.grid-stack1 .grid4 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack1 .grid4 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack1 .grid4 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack1 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack1 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack2 {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.grid-stack2 .grid1 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack2 .grid1 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack2 .grid1 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack2 .grid1 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack2 .grid1 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack2 .grid2 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack2 .grid2 .grid2-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 55px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack2 .grid2 .grid2-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 55px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack2 .grid2:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack2 .grid2:hover .grid2-text h3 {
    color: #f6f6f6;
}

.grid-stack2 .grid2:hover .grid2-text p {
    color: #f6f6f6;
}

.grid-stack2 .grid3 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack2 .grid3 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack2 .grid3 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack2 .grid3 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack2 .grid3 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack2 .grid4 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack2 .grid4 .grid4-text h3 {
    width: 19vh;
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 55px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack2 .grid4 .grid4-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 55px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack2 .grid4:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack2 .grid4:hover .grid4-text h3 {
    color: #f6f6f6;
}

.grid-stack2 .grid4:hover .grid4-text p {
    color: #f6f6f6;
}

.grid-stack3 {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.grid-stack3 .grid1 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack3 .grid1-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 63px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack3 .grid1-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 63px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack3 .grid1:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack3 .grid1:hover .grid1-text h3 {
    color: #f6f6f6;
}

.grid-stack3 .grid1:hover .grid1-text p {
    color: #f6f6f6;
}

.grid-stack3 .grid2 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack3 .grid2 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack3 .grid2 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack3 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack3 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack3 .grid3 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack3 .grid3-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 50px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack3 .grid3-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack3 .grid3:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack3 .grid3:hover .grid3-text h3 {
    color: #f6f6f6;
}

.grid-stack3 .grid3:hover .grid3-text p {
    color: #f6f6f6;
}

.grid-stack3 .grid4 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack3 .grid4 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack3 .grid4 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack3 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack3 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack4 {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.grid-stack4 .grid1 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack4 .grid1 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack4 .grid1 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack4 .grid1 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack4 .grid1 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack4 .grid2 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack4 .grid2 .grid2-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 55px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack4 .grid2 .grid2-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 55px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack4 .grid2:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack4 .grid2:hover .grid2-text h3 {
    color: #f6f6f6;
}

.grid-stack4 .grid2:hover .grid2-text p {
    color: #f6f6f6;
}

.grid-stack4 .grid3 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack4 .grid3 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack4 .grid3 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack4 .grid3 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack4 .grid3 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack4 .grid4 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack4 .grid4 .grid4-text h3 {
    width: 19vh;
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 55px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack4 .grid4 .grid4-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 55px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack4 .grid4:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack4 .grid4:hover .grid4-text h3 {
    color: #f6f6f6;
}

.grid-stack4 .grid4:hover .grid4-text p {
    color: #f6f6f6;
}

.grid-stack5 {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.grid-stack5 .grid1 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack5 .grid1-text h3 {
    width: 0px;
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 63px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack5 .grid1-text p {
    width: 19vh;
    font-size: 21px;
    font-weight: 100;
    margin-left: 63px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack5 .grid1:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack5 .grid1:hover .grid1-text h3 {
    color: #f6f6f6;
}

.grid-stack5 .grid1:hover .grid1-text p {
    color: #f6f6f6;
}

.grid-stack5 .grid2 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack5 .grid2 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack5 .grid2 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack5 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack5 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.grid-stack5 .grid3 {
    width: 275px;
    height: 283px;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack5 .grid3-text h3 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 100px;
    color: #323232;
    margin-left: 50px;
    font-family: "Open Sans", sans-serif;
}

.grid-stack5 .grid3-text p {
    width: 5cm;
    font-size: 21px;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 3px;
    color: #323232;
    font-family: "Open Sans", sans-serif;
}

.grid-stack5 .grid3:hover {
    transition: 600ms;
    background: #323232;
}

.grid-stack5 .grid3:hover .grid3-text h3 {
    color: #f6f6f6;
}

.grid-stack5 .grid3:hover .grid3-text p {
    color: #f6f6f6;
}

.grid-stack5 .grid4 {
    width: 275px;
    height: 283px;
    position: relative;
    background-color: #ffff;
    transition: 600ms;
}

.grid-stack5 .grid4 img {
    width: inherit;
    height: inherit;
    position: relative;
}

.grid-stack5 .grid4 .content {
    width: 185px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 45%;
    left: 45px;
}

.grid-stack5 .overlay {
    opacity: 0%;
    position: absolute;
    top: 0;
    background: black;
    width: 100%;
    height: inherit;
    transition: 600ms;
}

.grid-stack5 .overlay:hover {
    opacity: 80%;
    transition: 600ms;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 170px;
}

.para {
    width: 68%;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.img-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 394px;
    margin-bottom: 50px;
}

.slider-text {
    display: flex;
}

.slider-text {
    position: absolute;
    top: 66cm;
    left: 12cm;

}

.slider-text h3 {
    width: 25vh;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: whitesmoke;
}

.info {
    font-size: 13px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    top: 69cm;
    left: 12.2cm;
    background-color: #f6f6f6;
    border: 10px solid #f6f6f6;
}

.info:hover {
    color: red;
}

.arrowl svg {
    fill: rgb(255, 255, 255);
    width: 60px;
    height: auto;
    position: absolute;
    top: 67cm;
    margin-left: .5cm;
}

.arrowr svg {
    fill: rgb(255, 255, 255);
    width: 60px;
    height: auto;
    position: absolute;
    top: 67cm;
    margin-left: 27cm;
}

.sign {
    width: 300px;
    margin-left: 650px;
    margin-bottom: 100px;
    margin-top: 30px;

}

.footer-container {
    width: 100%;
    height: 62vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    z-index: 2;
    position: relative;
}

.footer {
    position: relative;
    display: flex;
    width: 85%;
    height: 450px;
    font-family: "Open Sans", sans-serif;

}

.footer .logo {
    position: absolute;
    left: 85px;
}

.footer .about {
    width: 188px;
    height: 254px;
    position: relative;
    left: 280px;
    color: #525252;

}

.footer .about :hover {
   color: #a5a5a5; 
}

.about .about-heading {
    font-size: 14px;
    font-weight: 500;
}

.about .his {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .reference {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .award {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .event {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .news {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .certification {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.about .careers {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.footer .products {
    width: 188px;
    height: 270px;
    position: relative;
    left: 320px;
    color: #525252;
}

.footer .products :hover {
    color: #a5a5a5;
}

.products .products-heading {
    font-size: 14px;
    font-weight: 500;
}

.products .air {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .curve {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .minimodular {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .led {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .wires {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .mcb {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .accessories {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.products .bell {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.footer .downloads {
    width: 188px;
    height: 254px;
    position: relative;
    left: 360px;
    color: #525252;
}

.downloads .downloads-heading {
    font-size: 14px;
    font-weight: 500;
}

.downloads .price {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.downloads .manual {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.footer .downloads :hover {
color: #a5a5a5;
}

.support .support-heading {
    font-size: 14px;
    font-weight: 500;
}

.footer .support {
    width: 188px;
    height: 254px;
    position: relative;
    left: 390px;
    color: #525252;
}

.footer .support :hover {
color: #a5a5a5;}

.support .customer {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.support .showroom {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.support .branches {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.support .signup {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}

.footer .videos {
    width: 188px;
    height: 250px;
    position: relative;
    left: 420px;
    color: #525252;
}


.videos .videos-heading {

    font-size: 14px;
    font-weight: 500;
}
.videos .videos-heading:hover{
    color: #a5a5a5;
}

.videos .productvid {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}
.videos .productvid:hover{
    color: #a5a5a5;
}

.videos .promotion {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}
.videos .promotion:hover {
color: #a5a5a5;
}

.videos .ad {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}
.videos .ad:hover{
color: #a5a5a5;
}

.account .account-heading {
    font-size: 14px;
    font-weight: 500;
}
.account .account-heading:hover{
    color: #a5a5a5;
}
.account .login {
    font-size: 14px;
    font-weight: 100;
    margin: 15px;
    margin-left: 0;
}
.account .login:hover {
color: #a5a5a5;
}

.keeptouch .keeptouch-heading {
    font-size: 14px;
    font-weight: 500;
    color: #525252;
}
.keeptouch .keeptouch-heading:hover{
    color: #a5a5a5;
}

.icons {
    display: flex;
    fill: #525252;
}

.icons .icon1 {
    height: auto;
    margin: 15px;
    margin-left: 0;
}
.icons .icon1:hover{
fill: #a5a5a5;
}

.icons .icon2 {
    height: auto;
    margin: 15px;
    margin-left: -5px;
}
.icons .icon2:hover{
    fill: #a5a5a5;
    }

.icons .icon3 {
    height: auto;
    margin: 15px;
    margin-left: -5px;
}
.icons .icon3:hover{
    fill: #a5a5a5;
    }

.icons .icon4 {
    height: auto;
    margin: 15px;
    margin-left: -5px;
}
.icons .icon4:hover{
    fill: #a5a5a5;
    }

.footer-bottom {
    width: 85%;
    height: 15vh;
    position: absolute;
    top: 48vh;
    font-family: "Open Sans", sans-serif;

}

.bottomup {
    display: flex;
    width: 100%;
    height: auto;
}

.bottomup .text1 {
    font-size: small;
    font-weight: 600;
}

.bottomup .text2 {
    font-size: small;
    font-weight: 100;
    color: red;
    margin-left: 5px;
}

.bottomup .text3 {
    font-size: small;
    font-weight: 100;
    color: red;
    margin-left: 5px;
}

.bottomup .text4 {
    font-size: small;
    font-weight: 600;
    margin-left: 5px;
}
.bottomup .text5 {
    font-size: small;
    font-weight: 100;
    color: red;
    margin-left: 5px;
}
.bottomup .made {
    font-size: small;
    font-weight: 600;
    margin-left: 60vh;
}
.seperation{
    background-color: #525252;
    width:100%;
    border-radius: 5px;
    height: 2px;
    margin-top:20px;
}
.bottomdown{
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 15px;
}
.bottomdown .text1{
    font-size: 9px;
    font-weight: 600;
    color: #525252;
}
.bottomdown .text2{
    font-size: 9px;
    font-weight: 300;
    margin-left: 10px;
    color: #525252;
}
.bottomdown .text2:hover{
    color: #a5a5a5;
}
.bottomdown .vert{
font-size:9px;
margin-left: 5px;
margin-top: 1px;
color: #525252;
}
.bottomdown .text3{
    font-size: 9px;
    font-weight: 300;
    margin-left: 74vh;
    color: #525252;
}
.bottomdown .text3:hover{
    color: #a5a5a5;
}

.contactUs{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 10;
    right: -47px;
    bottom: 27rem;
    background-color: red;
    color: white;
    width: 124px;
    height: 34px;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 14px;
}

.whatsicon img{
    width: 60px;
    height: auto;
    position: fixed;
    bottom: 10px;
    left: 165vh;
    z-index:3;
}







